#accountInfo{
    background-color: dimgray;
    width: 80%;
    color: black;
    font-size: 1em;
    font-weight: 800;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
}
#childInfo{
    background-color: dimgray;
    width: 65%;
    color: black;
    font-size: 1em;
    font-weight: 800;
    float: left;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
}
#content{
    display: flex;
    flex-direction: column;
    gap: 2em;
    text-align: center;
    font-size: 120%;
    
}
hr{
    border-top: 3px solid black;
    border-radius: 5px;
}
.stat{
    width: 10%;
    
}
hr.child{
    border-top: 2px solid black;
    border-radius: 5px;
    width: 80%;
}
#payments{
    background-color: dimgray;
    width: 90%;
    color: black;
    font-size: 1em;
    font-weight: 800;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
}
hr.child1{
    border-top: 2px solid black;
    border-radius: 5px;
    width: 60%;
}
hr.paydiv{
    border-top: 5px solid black;
    border-radius: 5px;
}