#content, .row{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#content{
    flex-direction: column;
    gap: 1em;
}
.row{
    flex-direction: row;
}
.row > img{
    border: #4E598C 5px solid;
    border-radius: 5px;
}