@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

body{
    font-family: Roboto;
}

#navbar {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 80vw;
    background-color: #FCAF58;
    margin: 1em auto auto;
    border: #FF8C42 10px inset;
    border-radius: 10px;
    border-bottom: none;
    border-left: none;
    padding: 1em;
    font-size: 1.3em;
}

#profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2em;
}

#profile > img {
    width: 1.3em;
}

#buttons {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-grow: 1;
}

#content {
    width: 80vw;
    background-color: #FCAF58;
    margin: 2em auto auto;
    border: #FF8C42 10px inset;
    border-radius: 10px;
    border-bottom: none;
    border-left: none;
    padding: 1em;
}

.flex_row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 2em;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
}

.flex_column {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.stat{
    text-align: center;
    padding: 1em;
    border-radius: 1em;
    background-color: dimgrey;
}

.stat_num {
    font-size: 4em;
    font-weight: 800;
}

